<!DOCTYPE html>
<html>


<head>

<title>Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>



<body>


<h2>
💊 Medicine RMS Dashboard
</h2>


<hr>



<div class="card">


<h3>
Total Medicine
</h3>


<h1>
{{count}}
</h1>


</div>



<br>



<a href="/medicine">

<button>
📦 Medicine Management
</button>

</a>



<br><br>



<a href="/purchase">

<button>
🧾 Create Purchase Invoice
</button>

</a>



<br><br>



<a href="/logout">

<button>
🚪 Logout
</button>

</a>



</body>

</html>